{% extends "base.html" %}
{% load static %}

{% block cssStyle %}{% static "css/agreement.css" %}{% endblock cssStyle %}

{% block content %}
    <div class="overlay js-overlay"></div>

    <main class="main">
      <section class="rules">
        <div class="wrap">
          <div class="rules__content">
            <div class="rules__box">
              <h1 class="rules__title">Пользовательское соглашение</h1>
              <div class="article">
                <p>
                  Настоящее пользовательское соглашение регулирует всю
                  деятельность сайта, стоимость услуг и ответственность сторон
                  (администрации сервиса CoinChanger и пользователя). Для
                  полноправного использования сервиса необходимо ознакомиться с
                  действующим соглашением и принять его.
                </p>
                <p>
                  <strong>
                    1. Общие положения пользовательского соглашения
                  </strong>
                </p>
                <p>
                  Актуальное соглашение включает в себя правила и требования,
                  согласно которым оказываются услуги сервисом CoinChanger.
                  Пользователь, желающий осуществить обмен валют в сервисе несет
                  индивидуальную ответственность за ознакомление с действующими
                  положениями, и выражает свое согласие со всеми пунктами
                  соглашения (1-9.6 включительно).
                </p>
                <p>
                  <strong>
                    2. Термины и определения, используемые в пользовательском
                    соглашении
                  </strong>
                </p>
                <p>
                  Сервис CoinChanger является зарегистрированной торговой
                  маркой, а домен сервиса является коммерческим обозначением
                  системы. Перечисленные ниже термины используются в
                  пользовательском соглашении и обозначают конкретные функции,
                  необходимые для деятельности сервиса и функционирования сайта.
                </p>
                <p>
                  Основной, и единственный веб-сайт сервиса –
                  <a href="https://c-changer.in">c-changer.in</a>
                  .
                </p>
                <p>
                  Пользователь — частное лицо, которое использует сервис в целях
                  обмена криптовалюты/валюты, ознакомившийся с пользовательским
                  соглашением.
                </p>
                <p>
                  Платежная система — программное обеспечение, доступное в сети,
                  и разработанное сторонними разработчиками, не причастными к
                  администрации сервиса CoinChanger. Платежная система
                  обеспечивает механизм учета, перевода и получения финансов, и
                  необходима для осуществления обменных транзакций в обоих
                  направлениях.
                </p>
                <p>
                  Электронная валюта – валюта, не являющаяся фиатной, и
                  хранящаяся в платежных системах, регулирующих их хранение и
                  перевод.
                </p>
                <p>
                  Платеж/операция — процедура, в ходе которой производится
                  перевод электронной или фиатной валюты.
                </p>
                <p>
                  Клиент платежной системы – физическое лицо, зарегистрированное
                  в платежной системе и владеющее персональным кошельком.
                </p>
                <p>Заявка – электронный запрос, оформляемый пользователем.</p>
                <p>
                  Исходная валюта – валюта, которую пользователь хочет обменять.
                </p>
                <p>
                  Исходный счет – номер кошелька в платежной системе, на котором
                  есть достаточное количество средств для исполнения заявки.
                </p>
                <p>
                  Результирующая валюта – валюта, которую пользователь
                  хочет получить в обмен на исходную.
                </p>
                <p>
                  Результирующий счет – номер кошелька в платежной
                  системе, на который будет переведена результирующая валюта.
                </p>
                <p>
                  Резерв валюты - доступная сумма в резерве сервиса
                  CoinChanger на осуществление операций в определенной
                  валюте. Сумма, указанная в заявке, не может превышать
                  показатель резерва валюты на момент осуществления обмена.
                </p>
                <p>
                  Обмен валюты - процедура, в ходе которой осуществляется обмен
                  исходной валюты на результирующую и перевод средств на
                  результирующий счет.
                </p>
                <p>
                  Курс — актуальное ценовое соотношение исходной и
                  результирующей валюты при их обмене.
                </p>
                <p>
                  Хакер — физическое лицо, специализирующее на компьютерном
                  взломе и несанкционированном подключении к компьютерным
                  системам.
                </p>
                <p><strong>3. Предмет Соглашения</strong></p>
                <p>
                  3.1 Предметом актуального настоящего пользовательского
                  соглашения является оказание услуг по обмену электронных
                  валют.
                </p>
                <p><strong>4. Порядок оказания услуг Сервисом</strong></p>
                <p>
                  4.1 Для того, чтобы воспользоваться услугами сервиса
                  CoinChanger, необходимо заполнить соответствующую заявку на
                  официальном сайте сервиса.
                </p>
                <p>
                  4.2 Ввод исходной, результирующей валюты, суммы транзакции и
                  другой информации осуществляется пользователем на
                  интернет-сайте сервиса.
                </p>
                <p>
                  4.3 Сервис CoinChanger осуществляет обработку заявок в
                  автоматическом режиме и соблюдает все ограничения и требования
                  платежных систем.
                </p>
                <p>
                  4.4 Сервис не несет ответственности за стабильность
                  функционирования, скорость обработки платежей и возможные
                  задержки со стороны платежных систем. Права и обязанности
                  платежных систем регулируются пользовательским соглашением,
                  заключенным между платежной системой и пользователем.
                </p>
                <p>
                  4.5 CoinChanger не требует дополнительных подтверждений в
                  статусе верификации платежных систем. Осуществлять переводы
                  можно между любыми кошельками в поддерживаемых платежных
                  системах.
                </p>
                <p>
                  4.6 Сервис не требует дополнительных подтверждений законности
                  владения электронными денежными средствами, которые участвуют
                  в процедуре обмена.
                </p>
                <p>
                  4.7 Используя услуги сервиса CoinChanger пользователь
                  подтверждает законное владение финансовыми средствами, которые
                  фигурируют в процедуре обмена.
                </p>
                <p>
                  4.8 После осуществления процедуры обмена пользователь
                  обязуется самостоятельно уплатить налоговые сборы, в случае
                  если это предусмотрено законодательством.
                </p>
                <p>
                  4.9 В случае, если пользователь желает отменить обмен после
                  произведения оплаты, сервис предоставляет такую возможность. В
                  таком случае осуществляется возврат суммы на исходный счет с
                  комиссией в 5% от суммы обмена. Также, пользователь обязуется
                  покрыть все финансовые затраты, которые понес сервис -
                  комиссии платежной системы, скачки обменного курса. Пункт
                  правил 4.9 не распространяется на сделки, которые не прошли
                  AML проверку
                </p>
                <p><strong>5. Стоимость услуг</strong></p>
                <p>
                  5.1 Расценки на услуги сервиса CoinChanger
                  устанавливается его администрацией в одностороннем порядке и
                  публикуется на сайте сервиса.
                </p>
                <p>
                  5.2 Администрация сервис имеет право на внесение корректировок
                  в курсы валют и изменение взимаемой комиссии за осуществление
                  обмена. В таком случае, пользователи заранее информируются обо
                  всех изменениях посредством размещения соответствующей
                  информации на главной странице сайта.
                </p>
                <p>
                  5.3 Заявка, которую оформляет пользователь в начале операции
                  обмена валют содержит в себе актуальный на момент обмена курс,
                  размер вознаграждения, отчисляемый CoinChanger и сумма,
                  которая будет переведена на результирующий счет.
                </p>
                <p>
                  5.4 Вознаграждение, отчисляемое сервису CoinChanger за
                  осуществление обмена вычисляется из результирующей валюты
                  непосредственно перед зачислением финансов на пользовательский
                  счет.
                </p>
                <p><strong>6. Обмен электронной валюты</strong></p>
                <p>
                  6.1 Оформления заявку на обмен средств пользователь выражает
                  свое согласие с пользовательским соглашением, тем самым
                  принимая все правила пользования сервисом.
                </p>
                <p>
                  6.2 После оформления заявки пользователь обязуется перечислить
                  исходную валюту в размере, указанном в заявке сервису
                  CoinChanger. Сервис, в свою очередь, обязуется перевести
                  результирующую валюту на счет пользователя, рассчитанную по
                  курсу, указанному в начале процедуры обмена.
                </p>
                <p>
                  6.3 Сервис CoinChanger получает фиксированное
                  вознаграждение, рассчитанное в процентах. Нажимая на кнопку
                  "Далее" пользователь выражает свое согласие с тем, что сервис
                  снимет плату за услуги.
                </p>
                <p>
                  6.4 Ответственность сервиса CoinChanger за финансы,
                  перечисленные пользователем завершается в момент списания
                  средств из платежной системы. Средства, списанные из платежной
                  системы сервиса поступят на результирующий счет после того,
                  как они будут обработаны пользовательской платежной системой.
                </p>
                <p>
                  6.5 На оплату сделки фиатными валютами сервис выделяет от 15
                  до 30 минут. Если система не зафиксирует оплату в отведённое
                  время, сделка будет отменена автоматически. Если оплата была
                  произведена после истечения времени на сделку, пользователю
                  следует обратиться в поддержку сервиса для восстановления
                  сделки и завершения обмена. В таком случае курс будет
                  зафиксирован после восстановления сделки.
                </p>
                <p>
                  6.6 На операции по направлениям, где пользователь отправляет
                  криптовалюту в адрес обменного сервиса в обмен на фиатную
                  валюту, CoinChanger выделяет от 30 до 45 минут, в
                  зависимости от валюты. Курс фиксируется на время сделки. В
                  случае если транзакция не была зафиксирована в блокчейне в
                  течении отведённого на сделку времени, обмен будет отменён.
                  Если в течение отведённого на сделку времени не будет получено
                  необходимое количество подтверждений сети, то курс будет
                  зафиксирован после получения этого количества подтверждений.
                  Обмен будет выполнен автоматически после того, как
                  отправленная пользователем транзакция наберёт необходимое
                  количество подтверждений в блокчейне. Если монеты были
                  отправлены, но сделка отменилась, она будет восстановлена
                  автоматически после того как транзакция появится в сети, и
                  будет оплачена после того как наберёт необходимое количество
                  подтверждений сети.
                  <br />
                  Более подробно узнать о количестве подтверждений и времени
                  выделяемом на сделку, в зависимости от направления обмена,
                  можно в Таблице 1.
                </p>
                <p>Таблица №1</p>
                <div class="wrap-table">
                  <table>
                    <tbody>
                      <tr>
                        <th>Валюта</th>
                        <th>Время</th>
                        <th>Подтверждения</th>
                      </tr>
                      <tr>
                        <td>Bitcoin</td>
                        <td>30</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Litecoin (LTC)</td>
                        <td>30</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Bitcoin Cash (BCH)</td>
                        <td>30</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Zcash (ZEC)</td>
                        <td>30</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Dash (DASH)</td>
                        <td>30</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Ethereum</td>
                        <td>30</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>Tether ERC20 (USDT)</td>
                        <td>30</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>Ripple (XRP)</td>
                        <td>30</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>Stellar (XLM)</td>
                        <td>30</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>Dogecoin (DOGE)</td>
                        <td>30</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>USD Coin ERC20 (USDC)</td>
                        <td>30</td>
                        <td>5</td>
                      </tr>
                      <tr>
                        <td>Tether OMNI (USDT)</td>
                        <td>30</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>NEO (NEO)</td>
                        <td>30</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Bitcoin (BTC)</td>
                        <td>30</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Paxos</td>
                        <td>30</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>ChainLink Token</td>
                        <td>30</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Tether BEP20 (USDT)</td>
                        <td>30</td>
                        <td>40</td>
                      </tr>
                      <tr>
                        <td>USD Coin (USDC TRC20)</td>
                        <td>30</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>Polkadot</td>
                        <td>30</td>
                        <td>200</td>
                      </tr>
                      <tr>
                        <td>Cardano</td>
                        <td>30</td>
                        <td>100</td>
                      </tr>
                      <tr>
                        <td>SHIBA INU</td>
                        <td>30</td>
                        <td>20</td>
                      </tr>
                      <tr>
                        <td>Solana</td>
                        <td>30</td>
                        <td>500</td>
                      </tr>
                      <tr>
                        <td>TerraUSD</td>
                        <td>30</td>
                        <td>315</td>
                      </tr>
                      <tr>
                        <td>Terra (LUNA)</td>
                        <td>30</td>
                        <td>315</td>
                      </tr>
                      <tr>
                        <td>NEAR Protocol (NEAR)</td>
                        <td>30</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>Polygon</td>
                        <td>30</td>
                        <td>860</td>
                      </tr>
                      <tr>
                        <td>Dogecoin (DOGE)</td>
                        <td>30</td>
                        <td>15</td>
                      </tr>
                      <tr>
                        <td>Dai (DAI)</td>
                        <td>30</td>
                        <td>32</td>
                      </tr>
                      <tr>
                        <td>Monero (XMR)</td>
                        <td>45</td>
                        <td>10</td>
                      </tr>
                      <tr>
                        <td>Binance Coin (BNB BEP20)</td>
                        <td>30</td>
                        <td>60</td>
                      </tr>
                      <tr>
                        <td>Tether TRC20 (USDT)</td>
                        <td>30</td>
                        <td>1</td>
                      </tr>
                      <tr>
                        <td>Tron (TRX)</td>
                        <td>30</td>
                        <td>20</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <p><br /></p>
                <p>
                  6.7 При обмене криптовалюты на криптовалюту CoinChanger
                  выделяет от 30 до 45 минут, в зависимости от направления
                  обмена. Курс по данным направлениям не фиксируется и может
                  меняться в зависимости от биржевого курса. За основу берётся
                  курс биржи Whitebit плюс комиссия сервиса которая уже включена
                  в курс обмена. Если монеты были отправлены, но сделка
                  отменилась, она будет восстановлена автоматически, после того
                  как транзакция появится в сети и оплачена после того как
                  наберёт необходимое количество подтверждений сети. Более
                  подробно узнать о количестве подтверждений и времени
                  выделяемом на сделку, в зависимости от направления обмена,
                  можно в таблице 2
                </p>
                <p>Таблица №2</p>
                <div class="wrap-table">
                  <table>
                    <tbody>
                      <tr>
                        <th>Валюта</th>
                        <th>Время</th>
                        <th>Подтверждения</th>
                      </tr>
                      <tr>
                        <td>Tether TRC20 (USDT)</td>
                        <td>30</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Litecoin (LTC)</td>
                        <td>30</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Bitcoin</td>
                        <td>30</td>
                        <td>2</td>
                      </tr>
                      <tr>
                        <td>Bitcoin Cash (BCH)</td>
                        <td>30</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Ripple (XRP)</td>
                        <td>30</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>Stellar (XLM)</td>
                        <td>30</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>Monero (XMR)</td>
                        <td>45</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Dogecoin (DOGE)</td>
                        <td>30</td>
                        <td>17</td>
                      </tr>
                      <tr>
                        <td>Ethereum Classic (ETC)</td>
                        <td>30</td>
                        <td>302</td>
                      </tr>
                      <tr>
                        <td>Ethereum (ETH)</td>
                        <td>30</td>
                        <td>34</td>
                      </tr>
                      <tr>
                        <td>Tron (TRX)</td>
                        <td>30</td>
                        <td>3</td>
                      </tr>
                      <tr>
                        <td>Polkadot</td>
                        <td>30</td>
                        <td>202</td>
                      </tr>
                      <tr>
                        <td>Dash (DASH)</td>
                        <td>30</td>
                        <td>12</td>
                      </tr>
                      <tr>
                        <td>Tether ERC20 (USDT)</td>
                        <td>30</td>
                        <td>34</td>
                      </tr>
                      <tr>
                        <td>USD Coin (USDC ERC20)</td>
                        <td>30</td>
                        <td>34</td>
                      </tr>
                      <tr>
                        <td>USD Coin (USDC TRC20)</td>
                        <td>30</td>
                        <td>22</td>
                      </tr>
                      <tr>
                        <td>Cardano</td>
                        <td>30</td>
                        <td>102</td>
                      </tr>
                      <tr>
                        <td>Solana</td>
                        <td>30</td>
                        <td>502</td>
                      </tr>
                      <tr>
                        <td>Polygon</td>
                        <td>30</td>
                        <td>862</td>
                      </tr>
                      <tr>
                        <td>Dai</td>
                        <td>30</td>
                        <td>34</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <p><br /></p>
                <p>
                  6.8 Администрация сервиса имеет право приостановить
                  осуществление процедуры обмена и удерживать деньги
                  пользователя в целях предотвращения мошеннических действий,
                  которые могут нанести финансовые потери как для сервиса, так и
                  для пользователя.
                </p>
                <p>
                  6.9 Администрация сервиса CoinChanger имеет право
                  устанавливать лимиты на количество и суммы финансовых
                  операций. В случае наличия таковых, администрация обязуется
                  оповестить о них на главной странице официального веб-ресурса.
                </p>
                <p>
                  <strong>
                    7. Вступление пользовательского соглашения в силу
                  </strong>
                </p>
                <p>
                  7.1 Пользователь одобряет соглашение в момент создания заявки
                  на обмен валюты.
                </p>
                <p>
                  7.2 Информация, содержащая актуальные параметры обмена, а
                  именно курс валют и вознаграждение, отчисляемое сервису
                  CoinChanger признается публичной офертой.
                </p>
                <p>
                  7.3 Публичная оферта вступает в силу после оформления заявки
                  пользователем. При этом пользователь безоговорочно согласен с
                  пользовательским соглашением, заключаемым между ним и сервисом
                  CoinChanger.
                </p>
                <p>
                  7.4 Точные данные, подтверждающие совершение транзакции (дата,
                  время, сумма, исходный счет, результирующий счет) фиксируется
                  сервисом в автоматическом режиме.
                </p>
                <p>
                  7.5 В случае несогласия с пользовательским соглашением,
                  пользователь имеет полное право отказаться от совершения
                  операции по заявке до момента ее оплаты (перевода средств
                  сервису).
                </p>
                <p><strong>8. Ответственность сторон</strong></p>
                <p>
                  8.1 Сервис CoinChanger несет финансовую ответственность
                  перед пользователем на сумму, которую пользователь перевел
                  сервису.
                </p>
                <p>
                  8.2 Сервис CoinChanger не несет ответственности за
                  продукты, разработанные третьими лицами и другие
                  программные/аппаратные ошибки, которые могут привести к
                  нестабильной работе сайта.
                </p>
                <p>
                  8.3 Сервис CoinChanger оказывает лишь услуги по обмену
                  (продажа-покупка) электронных валют. Сервис нельзя
                  использовать в качестве площадки для передачи средств между
                  несколькими лицами, переводить средства можно только на свой
                  личный электронный кошелек.
                </p>
                <p>
                  8.4 Пользователь сервиса несет ответственность за
                  достоверность и точность указываемых данных в заявке.
                </p>
                <p>
                  8.5 По каждой операции сервис сохраняет детальную отчетность,
                  которая является опорным документом для разрешения спорных
                  ситуаций.
                </p>
                <p>
                  8.6 Сервис и пользователь освобождаются от ответственности в
                  ситуациях, когда неправомерные действия происходят не по их
                  вине (взлом, неполадки с оборудованием, отключение платежной
                  системы).
                </p>
                <p></p>
                <p>
                  <strong>
                    9. Прочие положения пользовательского соглашения
                  </strong>
                </p>
                <p>
                  9.1 Сервис имеет право изменять пользовательское соглашение в
                  одностороннем порядке. В таком случае список соответствующих
                  изменений будет опубликован администрацией на главной странице
                  ресурса.
                </p>
                <p>
                  9.2 Сервис оставляет за собой право отказать пользователю в
                  осуществлении процедуры обмена без объяснения причины отказа.
                </p>
                <p>
                  9.3 CoinChanger имеет право приостановить все финансовые
                  операции по обмену средств в случае рисков и в целях защиты от
                  хакерских атак.
                </p>
                <p>
                  9.4 В случае осуществления несогласованной передачи средств
                  без указания номера операции необходимо связаться с
                  администрацией и запросить возврат средств на исходный
                  кошелек. В таком случае будет изъята стандартная комиссия,
                  устанавливаемая сервисом CoinChanger.
                </p>
                <p>
                  9.5 Сервис CoinChanger несет ответственность за доставку
                  электронных писем пользователю, информирующих о состоянии
                  процесса обмена.
                </p>
                <p>
                  9.6 Все разногласия между пользователем и сервисом могут быть
                  решены путем переговоров. Сервис обязуется в течение 15 дней
                  удовлетворить претензии пользователя или предоставить ему
                  мотивированный отказ. В случае, если стороны не найдут решения
                  конфликта в течение 60 дней, любая из сторон может обратиться
                  в суд по месту жительства пользователя.
                </p>
                <p></p>
                <p>
                  Оформляя заявку на обмен электронной валюты пользователь
                  автоматически соглашается с тем, что он внимательно изучил
                  действующее пользовательское соглашение, ознакомлен со своими
                  правами, обязанностями и возможностями.
                </p>
                <p>Соглашение опубликовано 02.06.2022</p>
              </div>
            </div>
            <img class="bg-img" src="{% static "images/unicorn.svg" %}" alt="bg" />
          </div>
        </div>
      </section>
    </main>
{% endblock content %}