{% extends "base.html" %}
{% load static %}

{% block cssStyle %}{% static "css/aml-agreement.css" %}{% endblock cssStyle %}

{% block content %}
    <div class="overlay js-overlay"></div>

    <main class="main">
        <section class="rules">
            <div class="wrap">
            <div class="rules__content">
                <div class="rules__box">
                <h1 class="rules__title">AML политика</h1>
                <div class="article">
                    <div class="partner__text">
                    <p>
                        Политика противодействия отмыванию денег (AML) является одним из важнейших инструментов обеспечения безопасности и законности финансовых операций. В случае, если криптовалюта отправленная Вами будет иметь High Risk 70% и выше, связана с нелегитимными источниками или по запросу правоохранительных органов, актив остается заблокированным в течение 120 дней с целью тщательного анализа и выяснения происхождения этих средств в соответствии со стандартами сервиса CoinChanger.
                    </p>
                    <p>
                        Учитывая сложность и разнообразие схем отмывания денег, а также необходимость соблюдения законодательных требований, расследование может потребовать дополнительного времени и ресурсов. В таких случаях срок блокировки средств может быть продлен до 180 дней, в зависимости от сложности дела и объема необходимой информации.
                    </p>
                    <p>
                        Однако, по завершении расследования и установлении легитимности актива, средства будут автоматически возвращены на адрес кошелька отправителя. Это гарантирует справедливость и прозрачность процесса, а также защищает интересы всех сторон, вовлеченных в транзакцию.
                    </p>
                    <p>
                        Для более оперативного доступа к заблокированным средствам, политика сервиса CoinChanger предусматривает возможность ускоренной разблокировки. Пользователи могут воспользоваться этой опцией, осуществив дублирующий платеж с некастодиального кошелька, который не требует прохождения процедуры KYC-верификации. После выполнения данной операции средства могут быть разблокированы в течение 1-2 часов, что обеспечивает пользователям быстрый доступ к своим активам.
                    </p>
                    <p>
                        Если пользователь заинтересован в подробной инструкции по проведению данной операции, он может запросить ее у менеджера службы поддержки сервиса CoinChanger. Наши специалисты готовы предоставить всю необходимую информацию и поддержку для облегчения процесса разблокировки средств.
                    </p>
                    <p>

CoinChanger придерживаемся высоких стандартов безопасности и соблюдения законности во всех наших операциях, и политика AML является важным элементом нашего стремления к обеспечению надежной финансовой среды для наших клиентов.
                    </p>
                    <p>Сервис не работает с подсанкционными платформами:</p>
                    <ul>
                        <li>Commex;</li>
                        <li>Garantex;</li>
                        <li>Tornado Cash;</li>
                        <li>Hydra;</li>
                        <li>Blender.io;</li>
                        <li>Lazarus Group;</li>
                        <li>Genesis Market;</li>
                        <li>ChipMixer;</li>
                        <li>Shinbad.io;</li>
                    </ul>
                    <p>
                        За связь с такими платформами средства блокируются
                        бессрочно.
                    </p>
                    <p>
                        Все клиенты, проживающие в перечисленных ниже странах, запрещены к обслуживанию на сервисе CoinChanger и не могут быть приняты в качестве Пользователей. Любым клиентам, из этих стран будет отказано в обслуживании, а любые средства будут возвращены источнику. Полный список запрещенных юрисдикций:
                    </p>
                    <ul>
  <li>США</li>
  <li>Афганистан</li>
  <li>Албания</li>
  <li>Ангола</li>
  <li>Алжир</li>
  <li>Бангладеш</li>
  <li>Барбадос</li>
  <li>Боливия</li>
  <li>Ботсвана</li>
  <li>Бирма (Мьянма)</li>
  <li>Бурунди</li>
  <li>Камбоджа</li>
  <li>Центрально-Африканская Республика</li>
  <li>Чад</li>
  <li>Конго</li>
  <li>Конакри</li>
  <li>Берег Слоновой Кости</li>
  <li>Крым</li>
  <li>Куба</li>
  <li>Корейская Народно-Демократическая Республика (КНДР)</li>
  <li>Эквадор</li>
  <li>Египет</li>
  <li>Экваториальная Гвинея</li>
  <li>Эритрея</li>
  <li>Гана</li>
  <li>Гвинея-Бисау</li>
  <li>Гаити</li>
  <li>Гайана</li>
  <li>Иран</li>
  <li>Ирак</li>
  <li>Лаосская Народно-Демократическая Республика</li>
  <li>Ливан</li>
  <li>Ливия</li>
  <li>Мали</li>
  <li>Марокко</li>
  <li>Мьянма</li>
  <li>Непал</li>
  <li>Никарагуа</li>
  <li>Северная Македония</li>
  <li>Пакистан</li>
  <li>Панама</li>
  <li>Катар</li>
  <li>Саудовская Аравия</li>
  <li>Сомали</li>
  <li>Южный Судан</li>
  <li>Судан</li>
  <li>Сирия</li>
  <li>Тунис</li>
  <li>Уганда</li>
  <li>Вануату</li>
  <li>Венесуэла</li>
  <li>Йемен</li>
  <li>Зимбабве</li>
  <li>Ямайка</li>
</ul>

                    </div>
                </div>
                </div>
            </div>
            </div>
        </section>
    </main>
{% endblock content %}