{% extends 'base.html' %}
{% load static %}

{% block cssStyle %}
  {% static 'css/error.css' %}
{% endblock %}

{% block content %}
    <main class="main">
      <section id="order" data-final="1" class="complete" style="opacity: 1;">
        <div class="wrap">
          <div class="complete__content">
            <h1 class="complete__title">Сделка {{ exchange.id }}<br/>Несовпадение IP-адреса</h1>
            <div class="complete__list">
              <div class="complete__list-wrap">
                <div class="complete__list-title">
                    Сделка была прервана в связи с возможными мошенническими действиями (несовпадение IP-адреса)<br/><br>
                    Ваш IP-адрес: <span style="color: black; opacity: 1; transition: opacity 0.1s;" onmouseover="this.style.opacity=0.8" onmouseout="this.style.opacity=1">{{ ipUser }} ({{ countryUser }}, {{ cityUser }})</span><br/>
                    IP-адрес трейдера: <span style="color: black; opacity: 1; transition: opacity 0.1s;" onmouseover="this.style.opacity=0.8" onmouseout="this.style.opacity=1">скрыт</span><br/><br>
                    В случае возникших вопросов, пожалуйста,
                  обратитесь в службу поддержки.
                </div>
                <div class="complete__review">
                  <a
                    href="{% url "home" %}"
                    class="complete__feedback-action"
                  >
                    Создать новый обмен
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
{% endblock content %}