@media only screen and (max-width: 767px) {
  .rules .wrap {
    padding: 0;
  }
}
.rules__content {
  display: grid;
  grid-template-columns: 1fr 216px;
  gap: 60px;
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .rules__content {
    grid-template-columns: 1fr;
    gap: 30px;
  }
}
.rules__content .bg-img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: -1;
}
@media only screen and (max-width: 1240px) {
  .rules__content .bg-img {
    display: none;
  }
}
.rules__title {
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .rules__title {
    margin-bottom: 20px;
  }
}
.rules__box {
  background: var(--bg);
  padding: 40px;
  box-shadow: 0 4px 16px 2px rgba(59, 36, 134, 0.16);
  border-radius: 20px;
}
@media only screen and (max-width: 767px) {
  .rules__box {
    padding: 30px 20px;
  }
}
.rules .sidebar {
  padding-top: 40px;
}
@media only screen and (max-width: 1240px) {
  .rules .sidebar {
    padding: 0;
    order: -1;
  }
  .rules .sidebar.no-mob {
    display: none;
  }
}
.rules .sidebar-text {
  font-size: 1rem;
  line-height: 1.5rem;
}
.rules .sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
}
@media only screen and (max-width: 1240px) {
  .rules .sidebar-list {
    flex-direction: row;
    position: static;
    padding: 0 20px;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 767px) {
  .rules .sidebar-list {
    flex-direction: column;
  }
}
.rules .sidebar-list .icon {
  margin-bottom: 10px;
}
@media only screen and (max-width: 1240px) {
  .rules .sidebar-list .icon {
    display: none;
  }
}
.rules .sidebar-item {
  color: var(--text);
  font-size: 0.9375rem;
  line-height: 1.5rem;
  position: relative;
}
.rules .sidebar-item:hover {
  color: var(--main);
}
.rules .sidebar-item.active {
  color: var(--main);
}
.rules .sidebar-item.active::before {
  content: '';
  position: absolute;
  height: 1px;
  width: 40px;
  background: #a840d8;
  left: -60px;
  top: 50%;
  transform: translateY(-50%);
}
@media only screen and (max-width: 1240px) {
  .rules .sidebar-item.active::before {
    content: none;
  }
}
.rules__action {
  font: 800 1.125rem/1.5rem Montserrat Alternates;
  border: none;
  background: var(--text);
  border-radius: 20px;
  color: var(--bg);
  text-align: center;
  padding: 26px 70px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  display: block;
  margin: 30px auto;
  max-width: 339px;
}
@media only screen and (max-width: 767px) {
  .rules__action {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.rules__action:hover {
  opacity: 0.8;
  color: var(--bg);
}
@media only screen and (max-width: 1240px) {
  .rules__action:hover {
    opacity: 1;
  }
}
.rules .article p {
  margin: 0;
  margin-bottom: 16px;
  color: var(--ortext);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.rules .article p:last-child {
  margin-bottom: 0;
}
.rules .article p strong {
  color: var(--text);
}
.rules .article h2,
.rules .article h3,
.rules .article h4 {
  margin-bottom: 20px;
  margin-top: 50px;
  color: var(--text);
}
@media only screen and (max-width: 767px) {
  .rules .article h2,
  .rules .article h3,
  .rules .article h4 {
    margin-top: 40px;
  }
}
.rules .article ol {
  margin: 0;
  padding: 0;
  list-style: none;
  counter-reset: item;
  margin: 20px 0;
}
.rules .article ol li {
  color: var(--ortext);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 16px;
  padding-left: 30px;
  position: relative;
}
.rules .article ol li::before {
  content: counter(item) '.';
  counter-increment: item;
  font-weight: 600;
  margin-right: 10px;
  position: absolute;
  left: 0;
}
.rules .article table {
  transform: rotateX(180deg);
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
@media only screen and (max-width: 767px) {
  .rules .article table {
    width: 414px;
  }
}
.rules .article table th {
  border-bottom: 2px solid var(--text);
  color: var(--ortext);
  font-size: 0.875rem;
  line-height: 1.375rem;
  text-align: left;
  font-weight: 400;
  padding: 0;
  padding-bottom: 10px;
  padding-right: 10px;
}
@media only screen and (max-width: 767px) {
  .rules .article table th {
    white-space: nowrap;
  }
}
.rules .article table td {
  color: var(--ortext);
  padding: 16px 10px 16px 0;
  border-bottom: 1px solid rgba(34, 37, 41, 0.2);
}
.rules .article ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin: 20px 0;
}
.rules .article ul li {
  color: var(--ortext);
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 16px;
  padding-left: 30px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .rules .article ul li {
    margin-bottom: 10px;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding-left: 20px;
  }
}
.rules .article ul li::before {
  content: '';
  display: flex;
  background: var(--main);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  flex-shrink: 0;
  position: absolute;
  left: 0;
  top: 8px;
}
.rules .article .attention {
  background: linear-gradient(
    90deg,
    rgba(234, 130, 230, 0.16) -0.09%,
    rgba(103, 93, 217, 0.16) 118.41%
  );
  border-radius: 16px;
  padding: 20px;
}
.rules .article .attention__title {
  font: normal 800 1.125rem/1.5rem 'Montserrat Alternates';
  margin-bottom: 6px;
}
.rules__list {
  margin-top: 60px;
}
.rules__list-title {
  margin-bottom: 20px;
}
.rules__wrapper {
  margin-bottom: 30px;
}
.rules__wrapper:last-child {
  margin-bottom: 0;
}
.rules__wrapper-title {
  margin-bottom: 10px;
  color: var(--ortext);
  font-weight: 400;
}
@media only screen and (max-width: 767px) {
  .rules__wrapper-title {
    font-size: 0.875rem;
  }
}
.rules__wrapper-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px -10px;
}
@media only screen and (max-width: 1240px) {
  .rules__wrapper-list {
    margin: -15px;
  }
}
@media only screen and (max-width: 767px) {
  .rules__wrapper-list {
    margin: 0;
    display: block;
  }
}
.rules__wrapper-item {
  margin: 15px 10px;
}
@media only screen and (max-width: 1240px) {
  .rules__wrapper-item {
    margin: 15px;
  }
}
@media only screen and (max-width: 767px) {
  .rules__wrapper-item {
    margin: 0;
    margin-bottom: 20px;
    display: block;
  }
  .rules__wrapper-item:last-child {
    margin: 0;
  }
}
.rules__wrapper-item img {
  width: auto;
  max-width: none;
  height: 40px;
}
.wrap-table {
  transform: rotateX(180deg);
}
@media only screen and (max-width: 1240px) {
  .wrap-table {
    overflow: auto;
    width: 100%;
    max-width: 1200px;
    box-sizing: border-box;
  }
  .wrap-table::-webkit-scrollbar {
    height: 4px;
  }
  .wrap-table::-webkit-scrollbar-track {
    background: var(--ltext);
    border-radius: 2px;
    height: 6px;
  }
  .wrap-table::-webkit-scrollbar-thumb {
    background: var(--ortext);
    border-radius: 10px;
  }
}
@media only screen and (max-width: 1240px) and (max-width: 767px) {
  .wrap-table {
    max-width: 414px;
  }
}
.modal {
  z-index: 5;
  display: none;
}
.modal.show {
  display: block;
}
.modal .over {
  background: rgba(25, 16, 37, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
  transition: 0.5s;
}
.modal__wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
  z-index: 5;
}
@media only screen and (max-width: 767px) {
  .modal__wrap {
    background: var(--bg);
    padding-bottom: 60px;
  }
}
.modal__attention {
  background: linear-gradient(
    90deg,
    rgba(234, 130, 230, 0.16) -0.09%,
    rgba(103, 93, 217, 0.16) 118.41%
  );
  border-radius: 16px;
  padding: 15px 20px;
  margin-top: 20px;
}
.modal__attention .title {
  font-weight: 700;
  display: block;
  margin-bottom: 6px;
  font-family: 'Montserrat Alternates';
}
.modal__attention p {
  color: var(--ortext);
  margin: 0;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-bottom: 16px;
}
.modal__attention p:last-child {
  margin-bottom: 0;
}
.modal .notice {
  width: 384px;
  background: var(--bg);
  padding: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  z-index: 5;
  box-shadow: 0 6px 24px 2px rgba(41, 48, 82, 0.1);
  border-radius: 14px;
}
@media only screen and (max-width: 767px) {
  .modal .notice {
    width: calc(100vw - 40px);
  }
}
.modal .notice__content-img {
  margin: auto;
  margin-top: 10px;
  max-width: 150px;
  max-height: 150px;
}
.modal .notice__content-title {
  margin-top: 20px;
  text-align: center;
}
.modal .notice__content-text {
  color: var(--ortext);
  font-size: 0.875rem;
  line-height: 1.375rem;
  margin-top: 10px;
  font-weight: 400;
  text-align: center;
}
.modal .notice .modal__close {
  margin-left: auto;
}
.modal .notice__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}
.modal .notice__action {
  font: 800 1.125rem/1.5rem Montserrat Alternates;
  border: none;
  background: var(--text);
  border-radius: 20px;
  color: var(--bg);
  text-align: center;
  padding: 19px 80px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  width: 100px;
  padding-left: 0;
  padding-right: 0;
}
@media only screen and (max-width: 767px) {
  .modal .notice__action {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.modal .notice__action:hover {
  opacity: 0.8;
  color: var(--bg);
}
@media only screen and (max-width: 1240px) {
  .modal .notice__action:hover {
    opacity: 1;
  }
}
@media only screen and (max-width: 767px) {
  .modal .notice__action {
    padding-left: 0;
    padding-right: 0;
  }
}
.modal .notice__cancel {
  font: 800 1.125rem 'Montserrat Alternates';
  width: 100px;
  padding: 20px 0;
  border: 1px solid rgba(34, 37, 41, 0.2);
  text-align: center;
  border-radius: 10px;
  color: var(--text);
  border-radius: 20px;
  cursor: pointer;
}
.modal .notice__cancel:hover {
  opacity: 0.8;
}
.modal__scroll {
  width: 100%;
  height: auto;
  max-width: 792px;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
  transform: translate(0, 0);
  z-index: 5;
}
@media screen and (max-width: 1600px) {
  .modal__scroll {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
@media only screen and (max-width: 1240px) {
  .modal__scroll {
    max-width: 698px;
    height: 100vh;
  }
}
@media only screen and (max-width: 767px) {
  .modal__scroll {
    margin: 0 auto;
  }
}
.modal__box {
  background: var(--bg);
  z-index: 6;
  position: relative;
  border-radius: 14px;
  box-shadow: 0 4px 16px 2px rgba(59, 36, 134, 0.16);
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  .modal__box {
    border-radius: 0;
    box-shadow: none;
  }
}
.modal__form {
  padding: 40px;
  background: var(--bg);
  border-radius: 20px;
}
@media only screen and (max-width: 767px) {
  .modal__form {
    padding: 30px 20px;
    padding-bottom: 40px;
  }
}
.modal__title {
  margin-bottom: 20px;
}
.modal__header {
  padding: 30px 40px 30px 40px;
  background: linear-gradient(
    90deg,
    rgba(234, 130, 230, 0.16) -0.09%,
    rgba(103, 93, 217, 0.16) 118.41%
  );
  display: flex;
  align-items: center;
  gap: 20px;
}
@media only screen and (max-width: 767px) {
  .modal__header {
    padding: 30px 20px;
  }
}
.modal__header .icon-dec {
  flex-shrink: 0;
}
@media only screen and (max-width: 767px) {
  .modal__header .icon-dec {
    display: none;
  }
}
.modal__header-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px 10px;
  margin-bottom: 6px;
}
.modal__header-info:last-child {
  margin: 0;
}
.modal__header-info .option {
  color: var(--text);
}
.modal__header-info .result {
  color: var(--text);
}
.modal__header-info .icon {
  stroke: var(--text);
  transform: rotate(-90deg);
}
.modal__close {
  margin-left: 20px;
  cursor: pointer;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
.modal__close .icon {
  fill: var(--ltext);
}
.modal__field {
  padding: 0;
  transition: 0.2s;
  border-radius: 16px;
  border: 1px solid transparent;
  background: var(--dark1);
  width: 100%;
  color: var(--text);
  font-weight: 800;
  font-size: 1rem;
  line-height: 1.75rem;
  padding: 37px 20px 15px 20px;
  height: 76px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -moz-appearance: textfield;
}
.modal__field::-webkit-inner-spin-button,
.modal__field::-webkit-outer-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}
.modal__field::-moz-placeholder {
  visibility: hidden;
  color: var(--ltext);
  opacity: 0;
}
.modal__field::placeholder {
  visibility: hidden;
  color: var(--ltext);
  opacity: 0;
}
.modal__field:focus {
  background: var(--bg);
  border-color: var(--ortext);
}
.modal__field:focus::-moz-placeholder {
  visibility: visible;
  opacity: 1;
}
.modal__field:focus::placeholder {
  visibility: visible;
  opacity: 1;
}
.modal__field .label:focus,
.modal__field:focus ~ .label {
  transform: translateY(-16px);
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: rgba(34, 37, 41, 0.5);
}
.modal__field:disabled {
  background: #fff;
  border-color: rgba(34, 37, 41, 0.2);
  cursor: not-allowed;
}
.modal__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}
.modal__list-wrap {
  display: grid;
  grid-template-columns: 216px 1fr;
  grid-gap: 20px;
}
@media only screen and (max-width: 767px) {
  .modal__list-wrap {
    grid-template-columns: 1fr;
  }
}
.modal__item {
  padding: 15px 20px;
  position: relative;
  background: var(--bg);
  border: 1px solid rgba(34, 37, 41, 0.2);
  border-radius: 16px;
  height: 76px;
  display: flex;
}
@media only screen and (max-width: 767px) {
  .modal__item {
    height: auto;
    display: block;
    position: relative;
  }
}
.modal__item .hide {
  margin-left: auto;
  position: relative;
  display: flex;
  align-self: center;
}
@media only screen and (max-width: 767px) {
  .modal__item .hide {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }
}
.modal__item .hide:hover .hide__text {
  opacity: 1;
  visibility: visible;
}
.modal__item .hide .icon {
  display: flex;
}
.modal__item .hide__text {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  right: -15px;
  padding: 26px 20px;
  font-size: 0.8125rem;
  line-height: 1.25rem;
  background: #fff;
  box-shadow: 0 0 14px rgba(39, 39, 39, 0.2);
  border-radius: 12px;
  color: var(--ortext);
  z-index: 2;
  max-width: 550px;
  min-width: 550px;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
}
@media only screen and (max-width: 767px) {
  .modal__item .hide__text {
    max-width: none;
    min-width: 100%;
    width: calc(100vw - 48px);
  }
}
.modal__item .hide__text:before {
  position: absolute;
  border: solid transparent;
  content: ' ';
  width: 14px;
  height: 14px;
  background: var(--bg);
  border-top-color: var(--bg);
  border-left-color: var(--bg);
  border-width: 1px;
  top: 2px;
  right: 20px;
  transform: translateY(-8px) rotate(135deg);
}
.modal__item-img {
  margin-left: auto;
}
@media only screen and (max-width: 767px) {
  .modal__item-img {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}
.modal__item-info {
  margin-left: auto;
  padding-right: 60px;
  padding-left: 20px;
  border-left: 1px solid rgba(34, 37, 41, 0.2);
}
@media only screen and (max-width: 767px) {
  .modal__item-info {
    border: none;
    border-top: 1px solid rgba(34, 37, 41, 0.2);
    padding: 0;
    margin-top: 15px;
    padding-top: 15px;
  }
}
.modal__item-label {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  color: var(--ltext);
  line-height: 20px;
}
.modal__item-result {
  word-break: break-all;
  margin-top: 2px;
}
.modal__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .modal__footer {
    flex-direction: column;
  }
}
.modal__cancel {
  position: absolute;
  left: 0;
  bottom: 20px;
  background: var(--main);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
@media only screen and (max-width: 767px) {
  .modal__cancel {
    position: static;
    margin-top: 20px;
  }
}
.modal__action {
  font: 800 1.125rem/1.5rem Montserrat Alternates;
  display: block;
  border: none;
  background: var(--text);
  border-radius: 20px;
  color: var(--bg);
  text-align: center;
  padding: 26px 80px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 auto;
  margin-top: 30px;
}
@media only screen and (max-width: 767px) {
  .modal__action {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.modal__action:hover {
  opacity: 0.8;
  color: var(--bg);
}
@media only screen and (max-width: 1240px) {
  .modal__action:hover {
    opacity: 1;
  }
}
.modal__action:disabled {
  background: var(--dark1);
  color: var(--ltext);
  cursor: not-allowed;
}
.modal__action:disabled:hover {
  opacity: 1;
}
@media only screen and (max-width: 767px) {
  .modal__action {
    order: -1;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
}
.modal__wrapper {
  display: grid;
  grid-template-columns: 1.6fr 1fr;
  grid-gap: 20px;
}
@media only screen and (max-width: 767px) {
  .modal__wrapper {
    grid-template-columns: 1fr;
  }
}
.modal__save {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 20px;
  display: block;
}
.modal__save .checkbox {
  display: none;
}
.modal__save .custom {
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  color: var(--ortext);
  cursor: pointer;
}
.modal__save .custom::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid var(--ltext);
  margin-right: 10px;
}
.modal__save .custom::after {
  background: url(../images/sprite_1.svg#check) no-repeat center/cover;
  content: none;
  position: absolute;
  width: 14px;
  height: 12px;
  z-index: 1;
  left: 5px;
}
.modal__save .checkbox:checked + .custom {
  color: var(--text);
}
.modal__save .checkbox:checked + .custom::before {
  background: var(--text);
}
.modal__save .checkbox:checked + .custom::after {
  content: '';
}
.modal__main {
  margin-top: 60px;
}
@media only screen and (max-width: 767px) {
  .modal__main {
    margin-top: 40px;
  }
}
.modal__choose {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .modal__choose {
    overflow: auto;
  }
}
.modal__choose-item {
  margin-right: 20px;
  padding: 10px 16px;
  border-radius: 6px;
  color: var(--text);
  font-weight: 800;
  border: 1px solid var(--ltext);
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  .modal__choose-item {
    text-align: center;
  }
}
.modal__choose-item:last-child {
  margin: 0;
}
.modal__choose-item:hover {
  color: var(--dark1);
  background: var(--text);
  -webkit-text-fill-color: var(--dark1);
}
.modal__choose-item.active {
  color: var(--dark1);
  background: var(--text);
  -webkit-text-fill-color: var(--dark1);
  cursor: default;
}
.modal__tabs {
  margin-top: 20px;
}
.modal__tabs p,
.modal__tabs-item {
  color: var(--ortext);
  margin: 0;
  margin-bottom: 16px;
}
.modal__tabs p:last-child,
.modal__tabs-item:last-child {
  margin-bottom: 0;
}
.modal__tabs p b,
.modal__tabs-item b {
  color: var(--text);
}
.modal__one {
  display: flex;
  margin-bottom: 20px;
}
@media only screen and (max-width: 767px) {
  .modal__one {
    display: block;
  }
}
.modal__two {
  display: flex;
}
@media only screen and (max-width: 767px) {
  .modal__two {
    display: block;
  }
}
.modal__img {
  border-radius: 10px;
  max-width: 344px;
  position: relative;
  flex-shrink: 0;
  margin-right: 20px;
}
@media only screen and (max-width: 767px) {
  .modal__img {
    margin: 0;
    margin-bottom: 10px;
  }
}
.modal__img.one:before {
  content: '1';
  position: absolute;
  top: 0;
  left: 0;
  color: var(--bg);
  font-weight: 800;
  padding: 12px 15px;
  background: rgba(46, 64, 87, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  line-height: 0.875rem;
  font-size: 1rem;
}
.modal__img.two:before {
  content: '2';
  position: absolute;
  top: 0;
  left: 0;
  color: var(--bg);
  font-weight: 700;
  padding: 12px 15px;
  background: rgba(46, 64, 87, 0.2);
  border-radius: 4px;
  box-sizing: border-box;
  width: 36px;
  height: 36px;
  line-height: 0.875rem;
  font-size: 1rem;
}
.modal__img img {
  border-radius: 10px;
  width: 240px;
  height: 150px;
  -o-object-fit: cover;
  object-fit: cover;
}
@media only screen and (max-width: 767px) {
  .modal__img img {
    width: 280px;
    height: auto;
  }
}
.modal__load {
  margin-top: 20px;
}
@media only screen and (max-width: 1240px) {
  .modal__load {
    display: none;
  }
}
.modal__load-wrap {
  display: grid;
  grid-template-columns: 1fr 180px;
  grid-gap: 20px;
}
.modal__inform {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 20px;
  font-weight: 400;
  color: var(--ortext);
}
@media only screen and (max-width: 767px) {
  .modal__inform {
    font-size: 0.875rem;
  }
}
@media only screen and (max-width: 1240px) {
  .modal__inform {
    line-height: 1.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .modal__inform {
    line-height: 1.25rem;
  }
}
.modal__loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(
    90deg,
    rgba(234, 130, 230, 0.16) -0.09%,
    rgba(103, 93, 217, 0.16) 118.41%
  );
  padding: 20px;
  border-radius: 16px;
  cursor: pointer;
  width: 180px;
  flex-shrink: 0;
}
.modal__loader .file {
  display: none;
}
.modal__loader .icon {
  flex-shrink: 0;
  margin-bottom: 10px;
}
.modal__loader-text {
  font: 800 1rem/1.5rem 'Montserrat Alternates';
  text-align: center;
  color: var(--main);
}
.modal__qr {
  display: grid;
  grid-template-columns: 120px 1fr;
  padding: 20px;
  grid-column-gap: 20px;
  grid-row-gap: 8px;
  border-radius: 16px;
  border: 2px solid rgba(34, 37, 41, 0.2);
}
.modal__qr p {
  margin: 0;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--ortext);
}
.modal__code {
  width: 120px;
  height: 120px;
  flex-shrink: 0;
}
.modal__send {
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 10px;
  color: var(--ortext);
}
.modal__success {
  font: 800 1rem/1.5rem 'Montserrat Alternates';
  display: flex;
  align-items: center;
  padding: 26px 20px;
  margin: 20px 0;
  background: linear-gradient(
    90deg,
    rgba(234, 130, 230, 0.16) -0.09%,
    rgba(103, 93, 217, 0.16) 118.41%
  );
  border-radius: 20px;
  position: relative;
}
@media only screen and (max-width: 767px) {
  .modal__success {
    padding: 20px;
  }
}
.modal__success .icon {
  margin-right: 10px;
  flex-shrink: 0;
  fill: var(--text);
}
@media only screen and (max-width: 767px) {
  .modal__success .icon {
    display: none;
  }
}
.modal__error {
  display: flex;
  padding: 26px 20px;
  background: var(--dark2);
  margin: 20px 0;
  border-radius: 20px;
}
@media only screen and (max-width: 767px) {
  .modal__error {
    padding: 20px;
  }
}
.modal__error-title {
  font: 800 1rem/1.5rem 'Montserrat Alternates';
  margin-bottom: 6px;
}
.modal__error-text {
  color: var(--ortext);
}
.modal__error .icon {
  margin-right: 10px;
  flex-shrink: 0;
}
@media only screen and (max-width: 767px) {
  .modal__error .icon {
    display: none;
  }
}
.modal__add {
  position: relative;
  align-items: center;
  justify-content: center;
  padding: 26px 0;
  border-radius: 4px;
  align-self: end;
  cursor: pointer;
  margin: 20px 0;
  display: none;
  background: linear-gradient(
    90deg,
    rgba(234, 130, 230, 0.2) -0.09%,
    rgba(103, 93, 217, 0.2) 118.41%
  );
  border-radius: 20px;
}
@media only screen and (max-width: 1240px) {
  .modal__add {
    display: flex;
  }
}
.modal__add .file {
  display: none;
}
.modal__add .icon {
  margin-right: 10px;
  flex-shrink: 0;
}
.modal__add-text {
  font: 800 1rem/1.5rem 'Montserrat Alternates';
  color: var(--main);
} /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */ /* Document ========================================================================== */ /** * 1. Correct the line height in all browsers. * 2. Prevent adjustments of font size after orientation changes in iOS. */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
} /* Sections ========================================================================== */ /** * Remove the margin in all browsers. */
body {
  margin: 0;
} /** * Render the `main` element consistently in IE. */
main {
  display: block;
} /** * Correct the font size and margin on `h1` elements within `section` and * `article` contexts in Chrome, Firefox, and Safari. */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
} /* Grouping content ========================================================================== */ /** * 1. Add the correct box sizing in Firefox. * 2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
} /** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
} /* Text-level semantics ========================================================================== */ /** * Remove the gray background on active links in IE 10. */
a {
  background-color: transparent;
} /** * 1. Remove the bottom border in Chrome 57- * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari. */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
} /** * Add the correct font weight in Chrome, Edge, and Safari. */
b,
strong {
  font-weight: bolder;
} /** * 1. Correct the inheritance and scaling of font size in all browsers. * 2. Correct the odd `em` font sizing in all browsers. */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
} /** * Add the correct font size in all browsers. */
small {
  font-size: 80%;
} /** * Prevent `sub` and `sup` elements from affecting the line height in * all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
} /* Embedded content ========================================================================== */ /** * Remove the border on images inside links in IE 10. */
img {
  border-style: none;
} /* Forms ========================================================================== */ /** * 1. Change the font styles in all browsers. * 2. Remove the margin in Firefox and Safari. */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
} /** * Show the overflow in IE. * 1. Show the overflow in Edge. */
button,
input {
  /* 1 */
  overflow: visible;
} /** * Remove the inheritance of text transform in Edge, Firefox, and IE. * 1. Remove the inheritance of text transform in Firefox. */
button,
select {
  /* 1 */
  text-transform: none;
} /** * Correct the inability to style clickable types in iOS and Safari. */
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
} /** * Remove the inner border and padding in Firefox. */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
} /** * Restore the focus styles unset by the previous rule. */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
} /** * Correct the padding in Firefox. */
fieldset {
  padding: 0.35em 0.75em 0.625em;
} /** * 1. Correct the text wrapping in Edge and IE. * 2. Correct the color inheritance from `fieldset` elements in IE. * 3. Remove the padding so developers are not caught out when they zero out * `fieldset` elements in all browsers. */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
} /** * Add the correct vertical alignment in Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline;
} /** * Remove the default vertical scrollbar in IE 10+. */
textarea {
  overflow: auto;
} /** * 1. Add the correct box sizing in IE 10. * 2. Remove the padding in IE 10. */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
} /** * Correct the cursor style of increment and decrement buttons in Chrome. */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto;
} /** * 1. Correct the odd appearance in Chrome and Safari. * 2. Correct the outline style in Safari. */
[type='search'] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
} /** * Remove the inner padding in Chrome and Safari on macOS. */
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
} /** * 1. Correct the inability to style clickable types in iOS and Safari. * 2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
} /* Interactive ========================================================================== */ /* * Add the correct display in Edge, IE 10+, and Firefox. */
details {
  display: block;
} /* * Add the correct display in all browsers. */
summary {
  display: list-item;
} /* Misc ========================================================================== */ /** * Add the correct display in IE 10+. */
template {
  display: none;
} /** * Add the correct display in IE 10. */
[hidden] {
  display: none;
}
:root {
  --text: #222529;
  --ltext: rgba(34, 37, 41, 0.5);
  --ortext: rgba(34, 37, 41, 0.7);
  --main: #a840d8;
  --border: rgba(34, 37, 41, 0.5);
  --alarm: #14beaf;
  --dark1: #f3f3f5;
  --dark2: #f0f0f2;
  --bg: #fff;
  --my_pink: linear-gradient(
    90deg,
    rgba(234, 130, 230, 0.1) -0.09%,
    rgba(103, 93, 217, 0.1) 118.41%
  );
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url(../fonts/montserrat-alternates-v12-latin_cyrillic-regular.woff2)
      format('woff2'),
    url(../fonts/montserrat-alternates-v12-latin_cyrillic-regular.woff)
      format('woff');
}
@font-face {
  font-family: 'Montserrat Alternates';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url(../fonts/montserrat-alternates-v12-latin_cyrillic-800.woff2)
      format('woff2'),
    url(../fonts/montserrat-alternates-v12-latin_cyrillic-800.woff)
      format('woff');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url(../fonts/montserrat-v18-latin_cyrillic-regular.woff2) format('woff2'),
    url(../fonts/montserrat-v18-latin_cyrillic-regular.woff) format('woff');
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url(../fonts/montserrat-v18-latin_cyrillic-700.woff2) format('woff2'),
    url(../fonts/montserrat-v18-latin_cyrillic-700.woff) format('woff');
}
html {
  -webkit-tap-highlight-color: transparent;
}
body {
  font: 1rem/1.5rem Montserrat, sans-serif;
  background: #ffeaf9;
  margin: 0;
  padding: 0;
  min-width: 320px;
  overflow-x: hidden;
  position: relative;
  color: var(--text);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
body::before {
  background: radial-gradient(at 100% 40%, #9faffe 0, transparent 46%),
    radial-gradient(at 90% 100%, #fcd4df 0, transparent 17%),
    radial-gradient(at 70% 59%, #b3c0fe 0, transparent 49%),
    radial-gradient(at 45% 40%, #cedefd 0, transparent 38%),
    radial-gradient(at 30% 40%, #e1fcfe 0, transparent 42%),
    radial-gradient(at 0 100%, #d6cbf0 0, transparent 63%);
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
a {
  text-decoration: none;
  color: var(--main);
  cursor: pointer;
  transition: 0.2s;
}
a:hover {
  color: var(--main);
}
button {
  padding: 0;
  border: 0;
  background: 0 0;
}
button:focus {
  outline: 0;
}
input,
textarea {
  outline: 0;
}
img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}
h1 {
  font: 800 2.25rem/2.75rem 'Montserrat Alternates';
  margin: 0;
}
@media only screen and (max-width: 1240px) {
  h1 {
    font-size: 2.25rem;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    font-size: 1.75rem;
  }
}
@media only screen and (max-width: 1240px) {
  h1 {
    line-height: 2.75rem;
  }
}
@media only screen and (max-width: 767px) {
  h1 {
    line-height: 2.25rem;
  }
}
h2 {
  font: 800 1.875rem/2.5rem 'Montserrat Alternates';
  margin: 0;
}
@media only screen and (max-width: 1240px) {
  h2 {
    font-size: 1.875rem;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1240px) {
  h2 {
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  h2 {
    line-height: 2rem;
  }
}
h3 {
  font: 800 1.625rem/2.25rem 'Montserrat Alternates';
  margin: 0;
}
@media only screen and (max-width: 1240px) {
  h3 {
    font-size: 1.625rem;
  }
}
@media only screen and (max-width: 767px) {
  h3 {
    font-size: 1.375rem;
  }
}
@media only screen and (max-width: 1240px) {
  h3 {
    line-height: 2.25rem;
  }
}
@media only screen and (max-width: 767px) {
  h3 {
    line-height: 1.875rem;
  }
}
h4 {
  font: 800 1.375rem/2rem 'Montserrat Alternates';
  margin: 0;
}
@media only screen and (max-width: 1240px) {
  h4 {
    font-size: 1.375rem;
  }
}
@media only screen and (max-width: 767px) {
  h4 {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 1240px) {
  h4 {
    line-height: 2rem;
  }
}
@media only screen and (max-width: 767px) {
  h4 {
    line-height: 1.75rem;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
  -webkit-text-fill-color: var(--text);
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0) 0,
    rgba(0, 174, 255, 0.04) 50%,
    rgba(255, 255, 255, 0) 51%,
    rgba(0, 174, 255, 0.03) 100%
  );
}
* {
  box-sizing: border-box;
}
::after,
::before {
  box-sizing: border-box;
}
.field {
  position: relative;
}
@media only screen and (max-width: 767px) {
  .field.ex-field .label {
    transform: translateY(-16px);
    font-size: 0.875rem;
    line-height: 1.375rem;
    color: rgba(34, 37, 41, 0.5);
  }
  .field.ex-field input::-moz-placeholder {
    visibility: visible;
  }
  .field.ex-field input::placeholder {
    visibility: visible;
  }
}
.field.error input {
  border-color: var(--main);
}
.field.error .field__error {
  display: block;
  padding-left: 20px;
}
.field .label {
  position: absolute;
  left: 20px;
  top: 26px;
  color: var(--ortext);
  font-size: 1rem;
  line-height: 1.5rem;
  transition: 0.2s;
  pointer-events: none;
}
.field.active .js-field::-moz-placeholder {
  visibility: visible;
  opacity: 1;
}
.field.active .js-field::placeholder {
  visibility: visible;
  opacity: 1;
}
.field.active .label {
  transform: translateY(-16px);
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: rgba(34, 37, 41, 0.5);
}
.field__error {
  color: var(--main);
  font-size: 0.875rem;
  line-height: 1.375rem;
  display: none;
}
.field__info {
  padding-left: 20px;
  color: var(--ortext);
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin-top: 2px;
}
.main {
  flex-grow: 1;
  margin-top: 60px;
  margin-bottom: 80px;
}
@media only screen and (max-width: 1240px) {
  .main {
    margin-top: 10px;
    margin-bottom: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .main {
    margin-bottom: 40px;
  }
}
.wrap {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 10px;
  box-sizing: content-box;
}
@media only screen and (max-width: 1240px) {
  .wrap {
    padding: 0 40px;
  }
}
@media only screen and (max-width: 767px) {
  .wrap {
    padding: 0 20px;
  }
}
.preload * {
  transition: none !important;
}
.locked {
  overflow: hidden;
}
.preloader {
  position: absolute;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  justify-content: center;
  padding-top: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  border-radius: 20px;
  display: none;
}
.preloader.show {
  display: flex;
}
.preloader img {
  width: 100px;
  height: 100px;
}
@media only screen and (max-width: 767px) {
  .preloader img {
    width: 60px;
    height: 60px;
  }
}
.header__box {
  display: flex;
  align-items: center;
  height: 80px;
  padding-top: 22px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border);
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .header__box {
    height: 56px;
    padding-top: 16px;
    padding-bottom: 20px;
    border: none;
  }
}
.header__new-year {
  position: absolute;
  display: flex;
  align-items: center;
  left: 180px;
}
@media only screen and (max-width: 414px) {
  .header__new-year {
    left: 110px;
  }
}
@media only screen and (max-width: 767px) {
  .header__new-year-gift {
    display: none;
  }
}
.header__logo {
  margin-right: auto;
  width: auto;
  height: auto;
  z-index: 4;
}
@media only screen and (max-width: 414px) {
  .header__logo {
    width: 110px;
    height: 16px;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1240px) {
  .header__nav {
    position: fixed;
    background: var(--bg);
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    padding: 86px 0 100px 0;
    transition: 0.3s;
    transform: translateX(100vw);
    visibility: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    overflow-y: auto;
  }
  .header__nav.active {
    transform: translateX(0);
    visibility: visible;
  }
}
.header__nav-item {
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .header__nav-item {
    margin-bottom: 20px;
  }
}
.header__nav-item.account {
  margin-right: auto;
}
.header__nav-link {
  margin-right: 60px;
  font-size: 0.9375rem;
  color: var(--text);
  line-height: 1.375rem;
}
@media only screen and (max-width: 1240px) {
  .header__nav-link {
    margin: 0;
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
}
@media only screen and (max-width: 1240px) {
  .header__nav-link.enter {
    background: var(--my_pink);
    width: 100%;
    padding: 20px 0;
  }
}
.header__nav-link.active {
  cursor: default;
  color: var(--main);
}
.header__nav-link.support {
  position: relative;
  display: flex;
}
.header__nav-link.support .icon {
  margin-right: 6px;
}
.header__nav-link:last-child {
  margin: 0;
}
.header__nav-enter {
  display: flex;
  align-items: center;
  color: var(--text);
  cursor: pointer;
}
@media only screen and (max-width: 1240px) {
  .header__nav-enter {
    display: none;
  }
}
.header__nav-enter.active .icon-drop {
  transform: rotate(180deg);
}
.header__nav-enter .icon-drop {
  margin-left: 10px;
  flex-shrink: 0;
  stroke: var(--ltext);
  transition: 0.2s;
}
.header__nav-name {
  font-size: 0.9375rem;
  line-height: 1.375rem;
}
.header__dropdown {
  display: none;
  position: absolute;
  background: var(--bg);
  padding: 20px;
  width: 100%;
  box-shadow: 0 4px 16px rgba(59, 36, 134, 0.16);
  border-radius: 12px;
  min-width: 220px;
  margin-top: 10px;
  z-index: 1;
}
@media only screen and (max-width: 1240px) {
  .header__dropdown {
    display: block;
    position: static;
    min-width: auto;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    width: 100vw;
    background: var(--my_pink);
  }
}
.header__dropdown.show {
  display: block;
}
.header__dropdown-item {
  cursor: pointer;
  color: var(--text);
  font-size: 0.9375rem;
  line-height: 1.5rem;
  margin-bottom: 10px;
  display: flex;
}
@media only screen and (max-width: 1240px) {
  .header__dropdown-item {
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
.header__dropdown-item .icon {
  margin-right: 10px;
}
.header__dropdown-item:last-child {
  margin: 0;
}
.header__burger {
  display: none;
}
@media only screen and (max-width: 1240px) {
  .header__burger {
    display: block;
    background-image: url(../images/sprite_1.svg#burger);
    background-size: cover;
    background-position: center;
    width: 24px;
    height: 24px;
    z-index: 4;
    position: relative;
  }
  .header__burger.active {
    background-image: url(../images/sprite_1.svg#close);
  }
}
.header__support {
  display: none;
}
@media only screen and (max-width: 1240px) {
  .header__support {
    display: block;
    margin-right: 24px;
    font-size: 0.9375rem;
    line-height: 1.375rem;
    position: relative;
    color: var(--text);
  }
}
.footer__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--border);
  padding-top: 40px;
}
@media only screen and (max-width: 1240px) {
  .footer__box {
    display: block;
  }
}
@media only screen and (max-width: 1240px) {
  .footer__box {
    padding: 0;
    border: 0;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 1240px) {
  .footer__nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 767px) {
  .footer__nav {
    grid-template-columns: 1fr;
  }
}
.footer__nav-item {
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .footer__nav-item {
    margin-top: 20px;
  }
}
.footer__nav-link {
  font-size: 0.9375rem;
  line-height: 1.5rem;
  margin-right: 60px;
  color: var(--text);
}
@media only screen and (max-width: 1240px) {
  .footer__nav-link {
    margin: 0;
  }
}
.footer__nav-link:last-child {
  margin: 0;
}
.footer__inform {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  .footer__inform {
    display: block;
    margin: 20px 0;
  }
}
.footer__partner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.footer__partner-info {
  color: var(--ortext);
  font-size: 0.8125rem;
}
.footer__partner-img {
  width: auto;
  max-width: 100px;
  flex-shrink: 0;
}
.footer__copyrite {
  color: var(--ltext);
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
@media only screen and (max-width: 767px) {
  .footer__copyrite {
    margin-top: 20px;
  }
}
.footer__lang {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 10px;
  font-size: 0.9375rem;
}
.footer__lang.active .icon-drop {
  transform: rotate(180deg);
}
.footer__lang .icon-drop {
  flex-shrink: 0;
  stroke: var(--ltext);
  transition: 0.2s;
}
.footer__dropdown {
  display: none;
  position: absolute;
  background: var(--bg);
  padding: 10px;
  width: 100%;
  box-shadow: 0 4px 16px rgba(41, 48, 82, 0.12);
  border-radius: 12px;
  min-width: 130px;
  width: -moz-max-content;
  width: max-content;
  top: 0;
  left: -2px;
}
.footer__dropdown.show {
  display: block;
}
.footer__dropdown-item {
  cursor: pointer;
  color: var(--text);
  font-size: 0.9375rem;
  line-height: 1.5rem;
  margin-bottom: 4px;
  display: flex;
}
.footer__dropdown-item .icon {
  margin-right: 10px;
}
.footer__dropdown-item.active {
  color: var(--main);
}
.footer__dropdown-item:last-child {
  margin: 0;
}
.notice {
  width: 792px;
  margin: 0 auto;
  margin-bottom: 100px;
  background: var(--bg);
  border-radius: 14px;
  padding: 40px;
}
@media only screen and (max-width: 1240px) {
  .notice {
    width: calc(100vw - 80px);
  }
}
@media only screen and (max-width: 767px) {
  .notice {
    width: 100%;
    padding: 20px;
    margin-bottom: 40px;
  }
}
.notice img {
  width: auto;
  height: auto;
  margin: auto;
  max-width: 160px;
}
.notice__title {
  margin-bottom: 20px;
  text-align: center;
}
.notice__text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: var(--ortext);
}
.boom {
  background: #663ce5;
  height: 80px;
  box-sizing: border-box;
  z-index: 1;
  display: none;
}
.boom.show {
  display: block;
}
@media only screen and (max-width: 1240px) {
  .boom {
    height: 60px;
  }
}
@media only screen and (max-width: 767px) {
  .boom {
    height: 90px;
    background-image: url(../images/bg_boom_mob.svg);
    background-position-x: -61px;
    background-repeat: no-repeat;
  }
}
.boom__box {
  display: flex;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .boom__box {
    height: 60px;
    align-items: stretch;
  }
}
@media only screen and (max-width: 767px) {
  .boom__box {
    height: 90px;
    display: block;
    padding: 18px 0;
  }
}
.boom__wrapper {
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 767px) {
  .boom__wrapper {
    margin-top: 12px;
  }
}
.boom__logo {
  margin-left: 46px;
  padding: 20px 0;
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .boom__logo {
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }
}
@media only screen and (max-width: 767px) {
  .boom__logo {
    margin: 0;
    display: block;
  }
}
.boom__logo .icon {
  z-index: 2;
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .boom__logo .icon {
    width: 141px;
    height: 27px;
  }
}
@media only screen and (max-width: 767px) {
  .boom__logo .icon {
    width: 115px;
    height: 22px;
  }
}
.boom__logo:before {
  background: url(../images/bg_boom.svg) no-repeat 0 0 / contain;
  content: '';
  position: absolute;
  display: block;
  width: 610px;
  height: 100%;
  top: 0;
  left: 31%;
  transform: translateX(-50%);
  z-index: 2;
}
@media only screen and (max-width: 1240px) {
  .boom__logo:before {
    width: 457px;
  }
}
@media only screen and (max-width: 767px) {
  .boom__logo:before {
    content: none;
    background-image: none;
  }
}
.boom__title {
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: var(--bg);
  font-weight: 700;
  z-index: 3;
  position: relative;
}
@media only screen and (max-width: 1240px) {
  .boom__title {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 767px) {
  .boom__title {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 1240px) {
  .boom__title {
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 767px) {
  .boom__title {
    line-height: 1.25rem;
  }
}
@media only screen and (max-width: 1240px) {
  .boom__title {
    display: none;
  }
}
.boom__title-mob {
  display: none;
}
@media only screen and (max-width: 1240px) {
  .boom__title-mob {
    align-self: center;
    display: block;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: var(--bg);
    font-weight: 700;
  }
}
@media only screen and (max-width: 1240px) and (max-width: 1240px) {
  .boom__title-mob {
    font-size: 1.25rem;
  }
}
@media only screen and (max-width: 1240px) and (max-width: 767px) {
  .boom__title-mob {
    font-size: 1.125rem;
  }
}
@media only screen and (max-width: 1240px) and (max-width: 1240px) {
  .boom__title-mob {
    line-height: 2.5rem;
  }
}
@media only screen and (max-width: 1240px) and (max-width: 767px) {
  .boom__title-mob {
    line-height: 1.25rem;
  }
}
.boom__link {
  padding: 12px 46px;
  box-sizing: border-box;
  color: var(--bg);
  font-weight: 700;
  border: 2px solid var(--bg);
  border-radius: 12px;
  height: 44px;
  font-size: 1rem;
  line-height: 0.9375rem;
  margin-left: 75px;
  position: relative;
  z-index: 2;
}
@media only screen and (max-width: 1240px) {
  .boom__link {
    margin-left: 58px;
    padding: 10px 36px;
    height: 38px;
    font-size: 0.875rem;
    line-height: 0.9375rem;
  }
}
@media only screen and (max-width: 767px) {
  .boom__link {
    font-size: 0.8125rem;
    line-height: 0.75rem;
    padding: 6px 26px;
    height: 28px;
    border-radius: 8px;
    margin-left: 20px;
  }
}
.boom__link:hover {
  background: var(--bg);
  color: #663ce5;
}
.boom__close {
  position: absolute;
  right: 0;
  top: 16px;
  cursor: pointer;
}
.boom__close:hover .icon {
  transform: rotate(90deg);
}
.boom__close .icon {
  fill: var(--bg);
  transition: 0.2s;
}
.take-photo {
  width: 100%;
  padding-bottom: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  overflow: auto;
}
.take-photo .logo {
  width: 188px;
  height: 30px;
  margin: 40px auto;
  display: block;
}
.take-photo__box {
  position: relative;
}
.take-photo__order {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 10px 0;
  font-weight: 400;
  text-align: center;
}
.take-photo__text {
  text-align: center;
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 10px 0;
  font-weight: 400;
  color: var(--ortext);
}
.take-photo__loader {
  font: 800 1.125rem/1.5rem Montserrat Alternates;
  border: none;
  background: var(--text);
  border-radius: 20px;
  color: var(--bg);
  text-align: center;
  padding: 26px 0;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  margin: 0 auto;
  margin-top: 20px;
  display: block;
}
@media only screen and (max-width: 767px) {
  .take-photo__loader {
    padding-left: 40px;
    padding-right: 40px;
  }
}
.take-photo__loader:hover {
  opacity: 0.8;
  color: var(--bg);
}
@media only screen and (max-width: 1240px) {
  .take-photo__loader:hover {
    opacity: 1;
  }
}
.take-photo .file {
  display: none;
}
.take-photo__custom {
  color: var(--bg);
}
.take-photo__img {
  margin: auto;
  filter: drop-shadow(4px 6px 6px rgba(41, 48, 82, 0.1));
  margin-top: 40px;
  max-width: 160px;
  max-height: 160px;
}
.take-photo__title {
  font: 800 1.5rem/2rem 'Montserrat Alternates';
  text-align: center;
  margin-top: 10px;
}
.take-photo__error {
  display: flex;
  padding: 20px;
  margin: 20px 0;
  border-radius: 20px;
  border: 1px solid rgba(34, 37, 41, 0.5);
  text-align: center;
}
@media only screen and (max-width: 767px) {
  .take-photo__error {
    padding: 20px;
  }
}
.take-photo__error-title {
  font: 800 1rem/1.5rem 'Montserrat Alternates';
  margin-bottom: 6px;
}
.take-photo__error-text {
  color: var(--ortext);
}
.take-photo__error .icon {
  margin-right: 10px;
  flex-shrink: 0;
}
@media only screen and (max-width: 767px) {
  .take-photo__error .icon {
    display: none;
  }
}
